# If you want some examples of settings, check out:
# https://github.com/atom/language-gfm/blob/master/settings/gfm.cson

'.source.fountain':
  'editor':
    'commentStart': '/*'
    'commentEnd' : '*/'
    'softWrap': true

# Symbol provision
'.source.fountain':
  autocomplete:
    symbols:
      character:
        selector: '.dialogue.character.fountain'
        typePriority: 6
      scene_heading:
        selector: '.fountain.scene.heading'
        typePriority: 5
